<!--<template>-->
<!--    <div>-->
<!--        <Header @headerWallet="getWallet" msg="This is Header"/>-->
<!--        <router-view></router-view>-->
<!--        <Footer msg="This is Footer"/>-->
<!--    </div>-->
<!--</template>-->

<!--<script>-->
<!--import Header from '../components/Header.vue'-->
<!--import Footer from '../components/Footer.vue'-->

<!--export default {-->
<!--    name: 'Home',-->
<!--    components: {-->
<!--        Header, Footer-->
<!--    },-->
<!--    data() {-->
<!--        return {-->
<!--            wallet: ''-->
<!--        }-->
<!--    },-->
<!--    methods: {-->
<!--        getWallet: function (headerWallet) {-->
<!--            this.wallet = headerWallet;-->
<!--        }-->
<!--    }-->
<!--}-->
<!--</script>-->
